<% if(@reservation.errors.any?) %>
  <p>Verifique os erros abaixo:</p>
  <ul>
    <% @reservation.errors.messages.values.flatten.each do |msg|%>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<strong>Código:</strong>  <%= @reservation.code %> <br>
<strong>Quarto:</strong> <%= @reservation.room.name %> <br>
<strong>Pessoas:</strong> <%= @reservation.group_size %> pessoas <br>
<strong>Data de Entrada:</strong> <%= @reservation.arrive_date.strftime("%d/%m/%y") %> <br>
<strong>Data de Saída:</strong> <%= @reservation.leave_date.strftime("%d/%m/%y") %> <br>
<strong>Status:</strong> <%= @reservation.status %> <br>

<% if @reservation.pending? && Time.now >= @reservation.arrive_date && host_signed_in? %>
  <%= button_to "Fazer Check-in", activate_inn_room_reservation_path(@inn.id, @room.id, @reservation.id), { method: 'patch' } %>
<% elsif @reservation.active? %>
  <strong>Check-in realizado em:</strong> <%= @reservation.arrived_at %> <br>
  <% if host_signed_in? %>
    <%= button_to "Fazer Check-out", finish_inn_room_reservation_path(@inn.id, @room.id, @reservation.id), { method: 'patch' } %>
  <% end %>
<% elsif @reservation.finished? %>
  <strong>Check-in realizado em:</strong> <%= @reservation.arrived_at %> <br>
  <strong>Check-out realizado em:</strong> <%= @reservation.left_at %> <br>

  <h3>Avaliação</h3>
  <%= form_with(model: [@inn, @room, @reservation], method: :put) do |f| %>
    <div>
      <%= f.label :rating %>
      <%= f.number_field :rating, min: 0, max: 5 %>
    </div>
    <div>
      <%= f.label :comment%>
      <%= f.text_area :comment %>
    </div>
    <div>
      <%= f.submit 'Enviar' %>
    </div>
  <% end %>

  <% if @reservation.response.present? %>
    <strong>Resposta:</strong> <%= @reservation.response %> <br>
  <% end %>



<% end %>

<% if @reservation.pending? && ((host_signed_in? && Time.now >= @reservation.arrive_date + 2.days) || (guest_signed_in? && Time.now <= @reservation.arrive_date - 7.days)) %>
<%= button_to "Cancelar", cancel_inn_room_reservation_path(@inn.id, @room.id, @reservation.id), { method: 'patch' } %>
<% end %>