<h1><%= @room.name %></h1>
<h2><%= @room.description %> </h2>

<% if host_signed_in? && current_host.id == @inn.host_id %>
  <div><%= link_to('Editar', edit_inn_room_path) %></div>
  <div><%= button_to('Remover', inn_room_path(@inn.id, @room.id), method: :delete) %></div>
  <div><%= button_to 'Alterar Status', vacancy_inn_room_path, { method: 'patch' } %></div>
<% end %>


<div>
  <strong>Tamanho:</strong> <%= @room.dimension %>m² <br>
  <strong>Capacidade:</strong> <%= @room.capacity %> pessoas <br>
  <strong>Banheiro Privativo:</strong> <%= @room.bathroom %> <br>
  <strong>Sacada:</strong> <%= @room.balcony %> <br>
  <strong>Ar-Condicionado:</strong> <%= @room.ac %> <br>
  <strong>TV:</strong> <%= @room.tv %> <br>
  <strong>Guarda-Roupa:</strong> <%= @room.wardrobre %> <br>
  <strong>Cofre:</strong> <%= @room.safe_box %> <br>
  <strong>Acessível:</strong> <%= @room.accessible %> <br>
  <strong>Status:</strong> <%= @room.status %> <br>
  <strong>Diária:</strong> R$<%= @room.price %> <br>
  <strong>Inn:</strong> <%= @room.inn_id %> <br>
</div>

<div><%= link_to('Voltar', inn_path(@inn.id)) %></div>