<!DOCTYPE html>
<html>
  <head>
    <title>HostelryApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
  </head>

  <body>
    <h1><%= link_to 'Pousadaria', root_path %></h1>
    <nav>
        <% if host_signed_in? %>
          <%= link_to current_host.name, host_path(current_host.id) %>
          <%= button_to 'Sair', destroy_host_session_path, method: :delete %>
          <div>
        <% else %>
          <%= link_to 'Entrar', new_host_session_path %>
          <h2>Buscar Pousadas</h2>
            <%= form_with(url: search_inns_path, method: :get) do |f| %>
              <%= f.label :brand_name, 'Nome' %>
              <%= f.text_field :brand_name %>
              <%= f.label :neighborhood, 'Bairro' %>
              <%= f.text_field :neighborhood %>
              <%= f.label :city, 'Cidade' %>
              <%= f.text_field :city %>
              <%= f.submit 'Buscar' %>
            <% end %>
          <%= link_to 'Busca avançada', adv_search_inns_path %>
          </div>
        <% end %>
      </nav>
    <div>
      <%= alert %>
      <%= notice %>
    </div>
    <%= yield %>
  </body>
</html>
